#
#    pip-compile --output-file=dev-requirements.txt dev-requirements.in
#
pytest
pip-tools
lox
matplotlib
pandas
typer
imgcat
pre-commit
mypy

# mypy stubs
pandas-stubs
types-tree-sitter-languages
types-requests
types-tqdm
types-PyYAML
types-Pygments
types-beautifulsoup4
types-jsonschema
types-networkx
