# This needs to sync with aider/help_pats.py

global-exclude .DS_Store

recursive-exclude aider/website/examples *
recursive-exclude aider/website/_posts *

exclude aider/website/HISTORY.md
exclude aider/website/docs/benchmarks*.md
exclude aider/website/docs/ctags.md
exclude aider/website/docs/unified-diffs.md

exclude aider/website/install.ps1
exclude aider/website/install.sh

recursive-exclude aider/website/docs/leaderboards *
recursive-exclude aider/website/assets *
recursive-exclude aider/website *.js
recursive-exclude aider/website *.html
recursive-exclude aider/website *.yml
