#
#    pip-compile requirements.in --upgrade
#

configargparse
GitPython
jsonschema
rich
prompt_toolkit
numpy
backoff
pathspec
diskcache
grep_ast
packaging
sounddevice
soundfile
beautifulsoup4
PyYAML
Pillow
diff-match-patch
playwright
pypandoc
litellm
google-generativeai
streamlit
watchdog
flake8
importlib_resources

# v3.3 no longer works on python 3.9
networkx<3.3

# v0.22.2 seems to break tree-sitter-languages?
tree-sitter==0.21.3 

# GitHub Release action failing on "KeyError: 'home-page'"
# https://github.com/pypa/twine/blob/6fbf880ee60915cf1666348c4bdd78a10415f2ac/twine/__init__.py#L40
# Uses importlib-metadata
importlib-metadata<8.0.0
