#
#    pip-compile requirements.in
#
configargparse
GitPython
openai
tiktoken
jsonschema
rich
prompt_toolkit
numpy
scipy
backoff
pathspec
networkx
diskcache
grep_ast
packaging
sounddevice
soundfile
beautifulsoup4
PyYAML
Pillow
diff-match-patch
playwright
pypandoc
