#
#    pip-compile requirements.in
#
configargparse
GitPython
openai
tiktoken
jsonschema
rich
prompt_toolkit
numpy
scipy
backoff
pathspec
diskcache
grep_ast
packaging
sounddevice
soundfile
beautifulsoup4
PyYAML
Pillow
diff-match-patch
playwright
pypandoc
litellm
google-generativeai
streamlit
watchdog
flake8

# v3.3 no longer works on python 3.9
networkx<3.3

# v0.22.2 seems to break tree-sitter-languages?
tree-sitter==0.21.3 
