.main-content blockquote, .main-content h4 {
  border: 0.1rem solid #155799;
  border-radius: 0.5rem;
  background-color: #e0ecf4;
  padding: 1.2rem 0.75rem 0.75rem 0.75rem;
  position: relative;
  margin-top: 2rem;
  color: #606c71;
  margin-right: 0;
}
.main-content blockquote::before, .main-content h4::before {
  content: "aider";
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: 0.5;
  padding: 0rem 0.5rem;
  font-weight: bold;
  background-color: #e0ecf4;
  border: 0.05rem solid #155799;
  border-radius: 0.5rem;
  color: #606c71;
}

.main-content h4 {
  border-color: #159957;
  background-color: #e0f2ef;
}
.main-content h4::before {
  content: "user";
  border-color: #159957;
  color: #606c71;
  background-color: #e0f2ef;
}     
.btn {
  display: inline-block;
  width: auto;
}
.btn + .btn {
  margin-top: 0;
  margin-left: 0.75rem;
}
