---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
          {% if post.excerpt %}
          {{ post.excerpt }}
          {% else %}
          {{ post.content | strip_html | truncatewords: 100 }}...
          {% endif %}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
