llama-index-core
llama-index-embeddings-huggingface

# Pin below 2.1.0 to retain Python 3.9 compatibility
numpy>=2,<2.1.0

# Mac x86 only supports torch 2.2.2, but NumPy 2 requires torch 2.3 or newer
# https://discuss.pytorch.org/t/why-no-macosx-x86-64-build-after-torch-2-2-2-cp39-no
torch>=2.3.0
