-c ../requirements.txt
#
#    pip-compile --output-file=requirements-dev.txt requirements-dev.in --upgrade
#
pytest
pytest-env
pip-tools
lox
matplotlib
pandas
typer
imgcat
pre-commit
cogapp
semver
codespell
