---
name: Linting

on:
  pull_request:
    paths-ignore:
      - 'aider/website/**'
      - README.md
    branches:
      - main

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install '.[browser,dev,playwright,mypy]'

    - name: Run Mypy
      uses: wearerequired/lint-action@v2.3.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        mypy: true
        mypy_args: "."
        continue_on_error: false
